Binaries/
Build/
Intermediate/
Saved/
Content/StarterContent
Content/*.obj
.vs/

*.sdf
*.sln
*.suo
*.opensdf
*.VC.db
*.opendb

Plugins/RealSensePlugin/Binaries/
Plugins/RealSensePlugin/Intermediate/
Plugins/DimencoHMD/

*.db